# Ignore the SQLite database
budget.db

# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore virtual environment folder (if using a virtual environment)
venv/
.env/

# Ignore IDE/editor specific files
.vscode/
.idea/